html
   head
      title Register
   body
      h1 Register
      form(action="/register", method="post")
         label(for="username") Username:
         input(type="text", name="username", required)
         br
         label(for="password") Password:
         input(type="password", name="password", required)
         br
         label(for="repassword") repassword:
         input(type="password", name="repassword", required)
         br
         input(type="submit", value="Register")
      if error
         p.error= error
      p Already have an account?
         a(href="/login") Login here
